<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- web.xml中shiro的filter对应的bean -->
    <!-- Shiro 的Web过滤器 -->
    <!-- 第一必须：自定义filter配置 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="securityManager" />
    <!-- loginUrl认证提交地址，如果没有认证将会请求此地址进行认证，请求此地址将由formAuthenticationFilter进行表单认证 -->
   <!-- <property name="loginUrl" value="/login.action" />
    &lt;!&ndash; 认证成功统一跳转到first.action，建议不配置，shiro认证成功自动到上一个请求路径 &ndash;&gt;
    &lt;!&ndash; 通过unauthorizedUrl指定没有权限操作时跳转页面&ndash;&gt;
    <property name="unauthorizedUrl" value="/refuse.jsp" />-->
        <property name="loginUrl" value="/login.do" />
        <property name="successUrl" value="index.jsp"/>
        <!-- 过虑器链定义，从上向下顺序执行，一般将/**放在最下边 -->
        <property name="filterChainDefinitions">
            <value>
                /logout.do=logout
                <!--对所有的的访问进行拦截-->
               /**=authc

                <!-- 对静态资源设置匿名访问 -->
            </value>
        </property>
    </bean>
    <!-- 第二个;必须securityManager安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--<property name="realm" ref="customRealm" />-->
        <property name="realm" ref="userRealm" />
        <!-- 注入缓存管理器 -->
        <property name="cacheManager" ref="cacheManager"/>
        <!-- 注入session管理器 -->
        <!-- 记住我 -->
    </bean>
    <!--第三个必须： realm -->
    <!--有这三个必须shiro就能启动-->
    <!--<bean id="customRealm" class="com.timisakura.shiro.CustomRealm"></bean>-->
    <bean id="userRealm" class="com.timisakura.shiro.UserRealm"></bean>
    <!-- 缓存管理器 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"/>
    </bean>
</beans>